@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 540px) {
  .text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 18em;
  }
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #999ca1;
  outline: none;
  cursor: pointer;
  background-color: white;
  position: relative;
}

/* Style for checked state */
.custom-radio:checked {
  background-color: white;
  border: 2px solid #9E62CE;

}

/* Style for inner circle */
.custom-radio::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #9E62CE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* Style for inner circle in checked state */
.custom-radio:checked::after {
  opacity: 1;
}
